body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

#map {
    height: 75vh;
    margin-bottom: 0.5em;
}

.container {
    margin-top: 0.5em;
    border: 4px solid rgb(52, 168, 83);
}

.image-marker {
    height: 60px;
    width: 60px;
}